.navbarHead {
    background: #dde1e7;
}

.heroHead img {
    border: 3px solid rgba(1, 48, 66, 0.616);
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(79, 94, 121, 0.452);
}

.heroHead img:hover {
    box-shadow: inset -3px -3px 7px #f1ecece7, inset 3px 3px 5px rgba(94, 104, 121, .288);
}